.portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 100vh;
    &__title{
        margin: 5rem 0 1.5rem 0;
        font-size: 3rem;
        z-index: 2;
        position: relative;
    }
    &__description{
        color: #86868b;
        margin-bottom: 3rem;
        font-size: 1rem;
        text-align: center;
        width: 90%;
    }
    &__projects{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(39rem, 1fr));
        justify-items: center;
        width: 85%;
        transition: all .4s ease;
    }
    &__project{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        background-image: linear-gradient(315deg, #dddcdc 0%, #eeeeee 74%);
        box-shadow: rgba(0,0,0, .16) 1px 1px 2px 1px;
        padding: 2rem;
        border-radius: 10px;
        margin: 2.5rem;
        width: 37.5rem;
        transition: all .4s ease;
        position: relative;
    }
    &__projectThumbnail{
        display: block;
        height: 270px;
        background: #fff;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: rgba(0,0,0, .16) 1px 1px 2px 1px;
        width: 100%;
        transition: all .4s ease;
        margin-bottom: 1.5rem;
        &:hover{
            transform: scale(.975);
            transition: all .4s ease;
        }
    }
    &__projectTitle{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: .5rem;
    }
    &__projectDescription{
        color: #86868b;
        font-size: 1rem;
    }
    &__projectTagsContainer{
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.5rem;
    }
    &__projectTag{
        background: #f0db4f;
        width: fit-content;
        padding: .4rem 1.5rem;
        border-radius: 25px;
        margin:  0 .5rem .5rem 0;
        font-size: 1rem;
    }
    &__btnsContainer{
        display: flex;
        margin-top: 1.25rem;
    }
    &__btn{
        padding: .5rem 1.25rem;
        margin-right: 1rem;
        border: 2px solid;
        font-weight: bold;
        border-radius: 6px;
        overflow: hidden;
        color: white;
        position: relative;
        transition: transform .4s ease;
        &::before{
            content: '';
            position: absolute;
            height: 300px;
            width: 60px;
            background: rgba(255,255,255,.35);
            transform: rotate(35deg) translateY(-100px) translateX(-160px);
            transition: all 0s ease;
        }
        &:hover{
            &::before{
                transform: rotate(35deg) translateY(-100px) translateX(160px);
                opacity: 1;
                transition: all .7s ease;
            }
        }
    }
    &__viewBtn{
        background: rgb(55, 62, 71);
        border: 2px solid rgb(68, 76, 86);
        font-size: 1rem;
        display: flex;
    }
    &__gitBtn{
        background: rgb(33, 38, 45);
        border: 2px solid rgb(48, 54, 61);
        font-size: 1rem;
        display: flex;
    } 
    &__gitIcon {
        font-size: 1.2rem;
        margin-left : .75rem;
    }
    &__viewIcon{
        font-size: 1.2rem;
        margin-left : .75rem;
        
    }
}

@media screen and (max-width: 550px) {
    .portfolio {
        &__projects{
            grid-template-columns: repeat(auto-fill,minmax(22.5rem, 1fr));
            width: 90%;
        }
        &__project{
            width: 90%;
        }
        &__projectThumbnail{
            height: 150px;
            background: #fff;
            border-radius: 10px;
            margin-bottom: 1.5rem;
            object-fit: cover;
            box-shadow: rgba(0,0,0, .16) 1px 1px 2px 1px;
        }
    }
}

@media screen and (max-width: 400px) {
    .portfolio{
        &__btnsContainer{
            flex-direction: column;
        }
        &__btn{
            margin: .5rem 0;
            width: fit-content;
        }
    }
}