.background {
    min-height: calc(100vh - 7.75rem);
    background: #000 url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: - 1;
}