.footer {
    margin-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 20rem;
    position: absolute;
    bottom: 0;
}

.pages {
    display: flex;
    flex-direction: row;
    list-style: none;   
}

.li {
    margin: 0 1rem;
}